/target/
!.mvn/wrapper/maven-wrapper.jar
/Users/Armen/handson/spring-rest/user-management/common/target/*
/Users/Armen/handson/spring-rest/user-management/umwebapp/target/*

/user-management/umwebapp/target/*.class
user-management/umwebapp/target/*.class
user-management/common/target/*.class

###### Package files  ##########
*.jar
*.war


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


*.class

#folders#
/target
/neoDb*
/data
/src/main/webapp/WEB-INF/classes
*/META-INF/*
